/* Reset básico para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #EBEBC8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #113724;
    font-size: 18px;
    transition: color 0.3s;
    font-family: 'Lora', serif;
}

.nav-links a:hover {
    color: #fdfdfd;
}

/* BOTÃO MENU */
.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #113724;
    color: #FFFFFF !important;
    font-size: 18px;
    font-family: 'Lora', serif;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.botao:hover {
    background-color: #0d2b1f;
    transform: scale(1.05);
}
/*HOME*/
.home {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui o espaço entre o texto e a imagem */
    padding: 50px;
    background: url('/img/banner.png') no-repeat center center;
    background-size: cover; /* A imagem vai cobrir toda a área da seção sem distorção */
    background-position: center; /* Centraliza a imagem na seção */
    height: 80vh; /* A altura será 80% da altura da tela do usuário */
    min-height: 400px; /* Garante uma altura mínima confortável em telas menores */
}

.home-text {
    color: #113724;
    max-width: 50%; /* O texto ocupa no máximo 50% da largura */
    z-index: 1; /* Garante que o texto sempre apareça sobre a imagem */
    position: relative; /* Necessário para o z-index funcionar */
}

.cadastro {
    background-color: #113724;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.cadastro input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.botao-cadastrar {
    padding: 10px 20px;
    background-color: #538000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-cadastrar:hover {
    background-color: #3d5c00;
}


/* BLOCKCHAIN IMUTÁVEL */
.blockchain {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: flex-start; /* Garante que o conteúdo se alinhe à esquerda */
    background-color: #113724;
    color: #FFFFFF;
    padding: 50px;
}

.blockchain-text {
    max-width: 50%; /* O texto ocupa até 50% da largura da seção */
    margin-right: 20px; /* Espaçamento entre o texto e a imagem */
}
.blockchain-image {
    flex: 1; /* Faz a imagem ocupar o máximo de espaço possível */
    max-width: 50%; /* Limita a imagem a 50% da largura */
}

.blockchain-image img {
    width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço da div sem distorcer */
}


/* SEÇÃO 3 */
.section3 {
    background: url('img/bg3.png') no-repeat center center;
    background-size: cover;
    padding: 50px;
    color: #FFFFFF;
    text-align: right;
}

/* CRÉDITO DE CARBONO */
.credito-carbono {
    background-color: #113724;
    color: #FFFFFF;
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background-color: #EBEBC8;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

/* MAIS FACILIDADES */
.facilidades {
    background-color: #D9D9D9;
    color: #113724;
    padding: 50px;
    text-align: center;
}

.facilidades-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.facilidade-card {
    background-color: #113724;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.facilidade-card img {
    margin-right: 20px;
    border-radius: 10px;
}

/* SEÇÃO COM FUNDO BG4 */
.bg4 {
    background: url('img/bg4.png');
    background-size: cover;
    padding: 50px;
    color: #113724;
    display: flex;
    justify-content: flex-end;
}

.texto-bg4 {
    max-width: 50%;
}

.texto-bg4 .cadastro {
    background-color: #113724;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

/* FOOTER */
.footer {
    background-color: #EBEBC8;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-col {
    width: 30%;
}

.footer-col img {
    height: 50px;
}

.redes-sociais a {
    margin-right: 10px;
}

.redes-sociais img {
    height: 30px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #113724;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}
